@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700);
/* ==========================================================================
TYPHOGRAPHY
========================================================================== */
p {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #6c7279; 
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-align: center;
  font-weight: 700;
  padding: 1.2em 0; 
}

h2 {
  font-size: 1.5em;
  color: #2d3033; 
}

h3 {
  font-size: 1.4em;
  color: #2d3033;
  font-weight: 300; 
}

h4 {
  font-size: 1.3em;
  color: #d74040;
  font-weight: 400;
  padding: 2px; 
}

h5 {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700; 
}

.btn {
  background-color: #e84545;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase; 
}
.btn:hover, .btn:focus {
  background-color: #e52e2e;
  color: #fff; 
}
  
.btn-large {
    padding: 15px 40px; 
}
@media(max-width: 768px){
  .btn-large{
    width: 100%;
  }
}

.bolding {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 200;
  color: #e84545; 
}

.border-btt{
  border-bottom: 1px solid  #e84545; 
}

/* RESET BOOTSTRAP */
.container {
  padding-right: none!important;
  padding-left: none!important;
  margin-right: none!important;
  margin-left: none!important;
}
/* ==========================================================================
General Styles
========================================================================== */
a {
  color: #e84545; 
}

a:hover, a:focus {
  text-decoration: none;
  -o-transition: background-color, color, 0.3s;
  -webkit-transition: background-color, color, 0.3s;
  transition: background-color, color, 0.3s; 
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #6c7279; 
}

.section {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2em;
  background: #f5f5f5;
}

ul, ol {
  margin: 0;
  padding: 0; 
}

ul li {
  list-style: none; 
}

.no-padding {
  padding: 0; 
}

.no-gutter [class*=col-] {
  padding-right: 0;
  padding-left: 0; }

/* ==========================================================================
$HEADER
========================================================================== */
#header {
  position: fixed;
  width: 100%;
  z-index: 999; 
  -webkit-transition: all .2s linear; 
  -o-transition: all .2s linear; 
  transition: all .2s linear;
}
#header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255,255,255,.7);
  width: 100%;
  
  -webkit-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  transition: padding 0.3s; 
}
.logo {
  margin-right: 400px;       
}
.logo img {
  width: 100%;
  max-width: 180px;
  min-width: 120px;
  -webkit-filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));
}

#header.fixed {
  background-color: rgba(255,255,255,.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.3));
}
#_link.fixed{
  /* color:rgba(255, 255, 255, .5); */
}
#_link.fixed:hover{
  /* color:rgba(255, 255, 255, .9); */
}
#header.fixed .logo {
  width: 100px; 
}
  #header.fixed .header-content {
    border-bottom: 0;
  }
  #header.fixed .nav-toggle {
    top: 18px; 
  }

  .navigation.open {
    opacity: 0.9;
    visibility: visible;
    -o-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s; 
  }

.navigation {
  float: right; 
}
  .navigation li {
    display: inline-block; 
  }
  .navigation a {
    color:#2f3571;
    font-size: 1em;
    font-weight: 400;
    margin-left: 40px;
    text-transform: uppercase; 
  }
  .navigation a:hover{
    color:#e84545;
  }
  

    .nav-toggle {
      display: none;
      height: 44px;
      overflow: hidden;
      position: fixed;
      right: 5%;
      text-indent: 100%;
      top: 32px;
      white-space: nowrap;
      width: 44px;
      z-index: 99999;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; 
    }
    .nav-toggle:before, .nav-toggle:after {
      border-radius: 50%;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      -ms-transform: translateZ(0);
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -o-transition-property: -o-transform;
      -webkit-transition-property: -webkit-transform;
      transition-property: -webkit-transform;
      -o-transition-property: transform;
      transition-property: transform;
      transition-property: transform, -webkit-transform; 
    }
    .nav-toggle:before {
      background-color: rgb(255, 253, 253, .2);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      -o-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s; 
    }
    .nav-toggle:after {
      background-color: #e84545;
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      transform: scale(0);
      -o-transition-duration: 0s;
      -webkit-transition-duration: 0s;
      transition-duration: 0s; 
    }
    .nav-toggle span {
      background-color: #cd573c;
      bottom: auto;
      display: inline-block;
      height: 3px;
      left: 50%;
      position: absolute;
      right: auto;
      top: 50%;
      width: 18px;
      z-index: 10;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); 
    }
    .nav-toggle span:before, .nav-toggle span:after {
      background-color:  #232d59;
      content: "";
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      -ms-transform: translateZ(0);
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -o-transition: -o-transform 0.3s;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; 
    }
    .nav-toggle span:before {
      -ms-transform: translateY(-6px) rotate(0deg);
      -webkit-transform: translateY(-6px) rotate(0deg);
      transform: translateY(-6px) rotate(0deg); 
    }
    .nav-toggle span:after {
      -ms-transform: translateY(6px) rotate(0deg);
      -webkit-transform: translateY(6px) rotate(0deg);
      transform: translateY(6px) rotate(0deg); 
    }
    .nav-toggle.close-nav:before {
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      transform: scale(0); 
    }
    .nav-toggle.close-nav:before {
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      transform: scale(0); 
    }
  .nav-toggle.close-nav span {
    background-color: rgba(255, 255, 255, 0); 
  }
    .nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
      background-color: #fff; 
    }
    .nav-toggle.close-nav span:before {
      -ms-transform: translateY(0) rotate(45deg);
      -webkit-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg); 
    }
    .nav-toggle.close-nav span:after {
      -ms-transform: translateY(0) rotate(-45deg);
      -webkit-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg); 
    }
/* ==========================================================================
$BANNER
========================================================================== */
/* IMAGE 1 */
.header .carousel-inner .bannerImage1 {
  position: relative;
  background-image:  url(../images/banner.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
}
.bannerImage1:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
  
.carousel-inner .carousel-caption h5{
  position: absolute;
  top: -400%;
  left: 50%;
  color: rgba(250, 246, 3, 0.795);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3.3em;
}
.carousel-inner .carousel-caption p{
  position: absolute;
  top: -200%;
  left: 50%;
  color:  rgba(250, 246, 3, 0.795);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.3em;
}

/* INDICADORES */
.carousel-indicators > li{
  width: 7%;
}
.carousel-indicators > li.active{
  width: 7%;
  background-color: rgba(0, 0, 0, .0);
}

/* IMAGE 2 */
.header .carousel-inner .bannerImage2 {
  position: relative;
  background-image:  url(../images/banner2.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
}

/* INDICADORES */
.carousel-indicators > li{
  width: 7%;
}
.carousel-indicators > li.active{
  width: 7%;
  background-color: rgba(0, 0, 0, .0);
}

/* ==========================================================================
$ABOUT
========================================================================== */
.about .container {
  position: relative;
  width: 100%;
  height: 100%;
} 
  .about .content {
    padding: 2em;
  }
  .about .content span {
    font-size: 1.2em;
    font-weight: bolder;
    letter-spacing: -2px;
    text-transform: uppercase;
    color:  #2d3033;
  }
  .about .col-md-4 {
    padding: 2em;
  }
  .about .col-md-4 h5 {
    color: #292c47;
    padding-bottom: 1em;
    border-bottom: 15px solid #8388b4;
    text-align: center;
  }
/* ==========================================================================
$SERVICES
========================================================================== */
/* ICONS */
.fa-truck-loading,
.fa-boxes,
.fa-city,
.fa-home,
.fa-people-carry,
.fa-route {
  color: #e84545;
  font-size: 80px;
  border: 1px solid #e84545;
  border-radius: 5px;
  padding: 20px;
}

.row .col-md-4{
  margin-bottom: 2em;
}

/* ===========================================================================
IMAGES 
============================================================================*/
.boxImage{
  position: relative;
  height: 300px; 
}
  .boxImage img{
    width: 200%;
  }
  .work {
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
    min-height: 350px;
    overflow: hidden;
    position: relative;
    visibility: hidden; 
  }
  .work .overlay {
    background: rgba(232, 69, 69, .8);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -o-transition: opacity, 0.3s;
    -webkit-transition: opacity, 0.3s;
    transition: opacity, 0.3s; 
  }
  .work .overlay-caption {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); 
  }
  .work h5, .work p, .work img {
    -o-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s; 
  }
  .work h5, .work p {
    color: #fff;
    margin: 0;
    opacity: 0; 
  }
  .work h5 {
    margin-bottom: 5px;
    -ms-transform: translate3d(0, -200%, 0);
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); 
  }
  .work p {
    -ms-transform: translate3d(0, 200%, 0);
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0); 
  }

  .work-box:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
  }
  .work-box:hover .overlay {
    opacity: 1; 
  }
  .work-box:hover .overlay h5, .work-box:hover .overlay p {
    opacity: 1;
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); 
  }

/* ==========================================================================
$LOGISTICA
========================================================================== */
.log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: justify;
}
.log .fa-laptop,
.log .fa-shipping-fast,
.log .fa-dolly,
.log .fa-map-marked-alt {
  font-size: 5em;
  color: #9fa8d2;
}
.log-content {
  position: relative;
  margin-top: 20px; 
}
.log .box{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  width: 100%;
  overflow: hidden;
}
.log .box .icon {
  position: absolute;
  font-size: 2em;
  color: #e84545;
  left: 90%;
}
      
.log .box h4 {
  position: absolute;
  font-weight: 400;
  font-size: 2em;
}
.log h5 {
  color: #e84545;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 20px; 
}

.social-icons, .footer .footer-share {
  margin-top: 30px; 
}
.social-icons li, .footer .footer-share li {
  float: left; 
}
.social-icons a, .footer .footer-share a {
  border: 1px solid #e8ecee;
  border-radius: 2px;
  color: #c6cacc;
  display: block;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  margin-right: 5px;
  text-align: center;
  width: 40px; 
}
.social-icons a:hover, .footer .footer-share a:hover {
  background-color: #292c47;
  border-color: #292c47;
  color: #fff; 
}

/* ==========================================================================
$TESTIMONIALS
========================================================================== */
.testimonials {
  background-color: rgba(35, 45, 89, .7);
  position: relative; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.testimonials blockquote {
  border: 0;
  margin: 0;
  padding: 12%; 
}
.testimonials p {
  color: #fff;
  font: italic 20px "Cardo", Georgia, "Times New Roman", serif; 
}
.testimonials cite {
  color: #fff;
  display: block;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  margin-top: 10%;
  text-transform: uppercase; 
}
  .testimonials .avatar{
    width: 50%;
  }

/* ==========================================================================
$MENSAGEM - NOTIFICAÇÃO
========================================================================== */
.mensage-notification{
  width: 300px;
  height: auto;
  background: #228038;
  padding: 10px;
  position: absolute;
  color: white; 
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 2px;
  -webkit-box-shadow: 3px 9px 8px rgba(0,0,0,.4);
          box-shadow: 3px 9px 8px rgba(0,0,0,.4);
  -webkit-animation: toast 3s cubic-bezier(.76,.05,.86,.06) .2s;
          animation: toast 3s cubic-bezier(.76,.05,.86,.06) .2s;
  opacity: 0;
}
@-webkit-keyframes toast{
  0%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  30%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 1;
    top: 50%;
  }
}
@keyframes toast{
  0%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  30%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 1;
    top: 50%;
  }
}

/* ==========================================================================
$CALCULATOR $FORM
========================================================================== */
.calcRota{
  width: 100%;
  height: 100%;
}
.calcRota .btn-primary{
  background: #565b8d;
}
.card-body label{
  font-size: 1.3em;
  font-weight: 200;
  color: #3a3d5f;
}
.card{
  border: none;
}
.card-header{
  background: transparent;
}
/* ==========================================================================
$TRABALHE CONOSCO
========================================================================== */

.cadastro{
  width: 100%;
  height: 100%;
}
  .grupoA{
    width: 100%;
    margin-bottom: 2em;
  }
  .grupoB{
    width: 100%;
    margin-bottom: 2em;
  }
  .grupoC{
    width: 100%;
  }


/* ==========================================================================
$FOOTER
========================================================================== */
.footer{
  position: relative;
  width: 100%;
  height: 140vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #2d2f54;
}
@media (max-width: 996px){
  .footer{
    /* height: 180vh; */
  }
}
.footer-top{
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.container{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
    .footer .row{
      width: 100%;
      padding: 5em 0;
      margin-left: 0;
      margin-right: 0;
    }
    .footer .footer-col {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 80px; 
    }
    .cards-box{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .footer-top > div:nth-child(1) > div:nth-child(2){
      width: 100%;
      margin: 2em auto;
    }
    .footer-col .footer-box{
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .footer-col .box span{
      font-size: 1.1em;
    }
    .footer-col .box{
      text-align: center;    
      }
      .footer-col .box .fa-whatsapp,
      .footer-col .box .fa-envelope{
        font-size: 1.3em;
        margin-right: 10px;
        color: white;
      }
      .footer-col .cards{
        font-size: 30px;
      }
      .cards-box span:nth-child(1) > svg > path:hover{
        color: palevioletred;
        cursor: pointer;
      }
      .cards-box span:nth-child(2) > svg > path:hover{
        color: rebeccapurple;
        cursor: pointer;
      }
      .cards-box span:nth-child(3) > svg > path:hover{
        color: rgb(255, 166, 107);
        cursor: pointer;
      }
      .cards-box span:nth-child(4) > svg > path:hover{
        color: rgb(34, 166, 255);
        cursor: pointer;
      }
      .footer h5 {
        color: #fff; 
        margin-bottom: 20px;
      }
    
      .footer-bottom{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        border-top: 1px solid white;
        width: 100%;
        height: auto;
      }

  .footer p {
    color: rgba(255, 255, 255, 0.5); 
  }
  .footer a {
    color: #fff; 
  }
    .footer a:hover {
      color: #f5ac25; 
    }
  .footer .footer-share {
    margin-top: 0; 
  }
  .footer .content-box{
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
    .footer .box {
      width: 100%;
      height: auto;
    }
      .footer .content-box p {
        font-size: 1.2em;
        padding-right: 10px;
      }
      .footer .footer-share li {
        display: inline-block;
        float: none; 
      }
    .footer .footer-share a {
      border-width: 2px;
      color: white;
    }
    .footer .fa-circle {
      color: #f5ac25;
      font-size: 11px;
      margin: 0 2px; 
    } 

/* ==========================================================================
$UTILITIES
========================================================================== */
.work:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; 
}
.work:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; 
}
.work:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; 
}
.work:nth-child(4) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; 
}
.work:nth-child(5) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; 
}
.work:nth-child(6) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; 
}
.work:nth-child(7) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; 
}
.work:nth-child(8) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; 
}

.animated {
  visibility: visible; 
}
